@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--font-satoshi);
    font-size: 20px;
    font-style: normal;
    font-weight: 400;

    background-color: #000;

    color: #f5ecfd;

    overflow-x: hidden;
}

/* custom scrolbar */
/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: transparent;
}
/* Handle */
::-webkit-scrollbar-thumb {
    background: #8b6f4a;
    transition: all 0.2s;
    border-radius: 30px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #8b6f4a;
}

/* text selection color */
::-moz-selection {
    /* Code for Firefox */
    color: #f5ecfd;
    background: #8b6f4a;
}

::selection {
    color: #f5ecfd;
    background: #8b6f4a;
}

/* Typography Variants */

.playfair {
  font-family: "Playfair Display", serif;
}

.heading-1 {
    font-size: 48px;
    font-family: "Playfair Display", serif;
    font-weight: 400;
    line-height: 140%;

    /* 32 for mobile */
    @media screen and (max-width: 800px) {
        font-size: 32px;
    }
}

.heading-2 {
    font-size: 40px;
    font-family: Playfair Display, serif;
    font-weight: 400;
    line-height: 140%;

    /* 28 for mobile */
    @media screen and (max-width: 800px) {
        font-size: 28px;
    }
}

.heading-3 {
    font-size: 36px;
    font-family: Playfair Display, serif;
    font-weight: 400;
    line-height: normal;
    line-height: 140%;

    /* 24 for mobile */
    @media screen and (max-width: 800px) {
        font-size: 24px;
    }
}

.heading-4 {
    font-size: 32px;
    font-family: Playfair Display, serif;
    font-weight: 400;
    line-height: 140%;

    /* stays same for mobile */
}

.heading-5 {
    font-size: 30px;
    font-family: Playfair Display, serif;
    font-weight: 400;
    line-height: normal;

    /* stays same for mobile */
}

.heading-6 {
    font-size: 24px;
    font-family: var(--font-satoshi);
    font-weight: 400;
    line-height: 140%;

    /* stays same for mobile */
}

.body-xl {
    font-size: 20px;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    line-height: 160%;

    /*  18px for mobile */
    @media screen and (max-width: 800px) {
        font-size: 18px;
    }
}

.body-large {
    font-size: 18px;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    line-height: 160%;

    /* 17px for mobile */
    @media screen and (max-width: 800px) {
        font-size: 17px;
    }
}

.body-regular {
    font-size: 16px;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    line-height: 160%;
}

.body-small {
    font-size: 14px;
    font-family: "Inter", sans-serif;

    font-weight: 400;
    line-height: 160%;
}

.body-xs {
    font-size: 12px;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    line-height: 160%;
}

/* fonts */
.font-playfair {
    font-family: "Playfair Display", serif;
}

.font-inter {
    font-family: "Inter", sans-serif;
}

.font-manrope {
    font-family: "Manrope", sans-serif;
}

/* font weights */

.w-400 {
    font-weight: 400;
}

.w-500 {
    font-weight: 500;
}

.w-700 {
    font-weight: 700;
}

/* colors */

.color-grey {
    color: #f3f4f6;
}

.color-grey-dark {
    color: #9ca3af;
}

.color-golden {
    color: #8e724d;
}

/* utility classes */

.padding {
    padding-inline: 110px;
}

.boxed {
    max-width: 1400px;
    margin: 0 auto;
}

/* global components */

.btn {
    padding: 12px 32px !important;
    border-radius: 60px;

    font-family: var(--font-inter);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;

    text-decoration: none;

    min-width: 140px;

    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;

    & > .text {
        text-wrap: nowrap;
    }

    & > .icon {
        font-size: 16px;
        transition: all 0.2s;
    }

    &:hover {
        .icon {
            transform: translateX(-5px);
        }
    }
}

.btn-primary-white {
    background: #fff;
    color: #000 !important;

    transition: all 0.2s;

    &:hover {
        transform: translateY(-3px);
    }

    &:active {
        transform: translateY(0);
    }
}

.btn-primary-golden {
    background: linear-gradient(91.35deg, #8b6f4a 0%, #cdad8b 100%);
    color: #fff;
    transition: all 0.2s;

    &:hover {
        transform: translateY(-3px);
    }

    &:active {
        transform: translateY(0);
    }
}

.btn-outlined-golden {
    border: 1px solid #8b6f4a;
    color: #8b6f4a !important;
    transition: all 0.2s;

    &:hover {
        transform: translateY(-3px);
    }
}

.btn-outlined-white {
    border: 1px solid #fff;
    color: #fff !important;
    transition: all 0.2s;

    &:hover {
        transform: translateY(-3px);
    }
}

.btn-primary-link {
    background: transparent;
    color: #8b6f4a !important;
    transition: all 0.2s;
    padding: 0 !important;

    &:hover {
        & > .icon {
            transform: rotate(315deg);
        }
    }
}

/* pagination */
.active-pagination-item {
    background: linear-gradient(91.35deg, #8b6f4a 0%, #cdad8b 100%);
    color: #fff;
}

/* modal */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(5px);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.modal-content {
    position: relative;
    max-width: 80vw;
    background: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(80px);
    padding: 60px 40px;
    border-radius: 8px;

    border: 1px solid rgba(255, 255, 255, 0.1);

    max-height: 90vh;

    overflow-y: auto;
}

.modal-close {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    color: #333;
}

/* media queries for responsiveness */

/* below 1200px */

@media only screen and (max-width: 1200px) {
    /* modal */

    .modal-content {
        max-width: 95vw;

        padding: 30px 20px;
        border-radius: 8px;

        max-height: 90vh;
    }

    .padding {
        padding-inline: 40px;
    }
}

/* below 768px */

@media only screen and (max-width: 768px) {
    .padding {
        padding-inline: 30px;
    }
}

/* below 600px */

@media only screen and (max-width: 600px) {
    .padding {
        padding-inline: 20px;
    }
}
