@font-face {
  font-family: Belgiano;
  font-weight: 400;
  font-style: normal;
  src: url("./belgiano.ttf") format("truetype");
}

@font-face {
  font-family: Inter;
  font-weight: 400;
  font-style: normal;
  src: url("./inter-regular.ttf") format("truetype");
}

@font-face {
  font-family: Inter;
  font-weight: 300;
  font-style: normal;
  src: url("./inter-light.ttf") format("truetype");
}